.bgimg{
	background-image: url('/background.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 647px;

}
.bgtext{
	padding-top: 200px;
	box-sizing: border-box;
}

.bgtext h2{
	font-size: 40px;

}
.bgtext h1{
	font-size: 60px;
	font-weight: bold;
	font-family: timenewroman;
}


/*designes*/
.designes{
	padding: 50px 30px 30px;
	height: 550px;
}
.rowsetting{
	margin: 80px;
}
.designes h1{
	font-size: 50px;
	font-weight: bold;
	font-family: Lobster,cursive !important;
}
.imgsetting{
	border-radius: 50%;
	height: 100px;
	width: 100px; 
}
.fa-shopping-cart{
	margin-top: 22px;
}
.fa-magic{
	margin-top: 22px;
}
.fa-mobile{
	margin-top: 22px;
}
.fa-random{
	margin-top: 22px;
}
.fa-cogs{
	margin-top: 22px;
}
.rowsetting h2{
	 margin-top: 20px;
	 font-weight: bold;
	 font-size: 30px;
}
.rowsetting p{
	padding: 10px;
	color: #6c757d;
}
.services{
	padding: 0px 0px 80px;
	height: 950px;
	width: 100%;
	padding: 60px 0px 50px;
}
.services h1{
	font-size: 50px;
	font-weight: bold;

}
/*services*/	
.services h1{
	font-size: 50px;
	font-weight: bold;
	font-family: 'Lobster', cursive;
}
.card{
	margin-top: 40px;
	margin-right: 10px important;
}
.team{
	height: 850px;
	padding: 70px 0px 60px;
	width: 100%
}
.teamsetting{
	margin-top: 70px;
	margin-bottom: 1px;
}
.team h1{
	font-size: 50px;
	font-weight: bold;
	font-family: Lobster,cursive !important;
}
/*/////footer////*/
.footer{
	height: 60px;
	margin-top: 70px;
}
.footer h6{
	line-height: 5px;
	color: white;
}.


/*mediaquery*/

@media(min-width: 992px){

}

@media(min-width: 768px) and (max-width: 991px){

}
@media(min-width: 575px) and (max-width: 767px){

}
@media(min-width: 480px) and (max-width: 574px){

}
@media(max-width: 479px){
	.bgtext h2{
	font-size: 20px;

}
.bgtext h1{
	font-size: 42px;
}
.designes h1{
	font-size: 30px;
}
.services{
	height: 1000px;
}
.services h1{
	font-size: 30px;
}
.designes{
	height: 1400px;
}
.services{
	height: 2200px;
}
.team{
	height: 1850px;
}
.team h1{
	font-size: 30px;
}
